theme-color = #ffc14b
healthy-red = #bd0000
kinda-gray = #888
background-color = #28282f
dark-color = #18181c
panel-color = #00000088


html
	color white
	font-size 12pt
	font-family sans-serif
	scroll-behavior smooth

	body
		display flex
		flex-direction column
		min-height 100vh
		margin 0
		overflow-x hidden
		background background-color

		::selection
			background theme-color
			color white

		.hidden
			display none !important

		.warning
			color #d00

		a
			font-weight bold
			color white

			&:hover
				color kinda-gray

		.container-horizontal
			display flex
			flex-flow column nowrap

			@media screen and (min-width 768px)
				flex-flow row nowrap
				justify-content space-between

			& > div
				margin 0 .5em
				flex 1 1

		header
			height 10vh
			padding 0 5vw
			position sticky
			top 0
			left 0
			right 0
			background none
			display flex
			flex-flow row wrap
			align-items center
			justify-content space-between
			z-index 10
			transition background-color .2s linear

			a
				display inherit
				align-items inherit

				span
					margin-left .5em

			img
				height 5vh

		#flash-container
			width 90vw
			margin 0 auto

			.flash
				display flex
				flex-flow row nowrap
				align-items center
				margin 1em 0
				border-radius 10px
				padding 1em 2em
				color #fff

				&.ok
					background #35532a

				&.warning
					background #634b08

				&.error
					background #680519

				span.separator
					align-self stretch
					flex 0 0 4px
					margin 0 1em
					border-radius 2px
					background white

			b, p
				margin .75em 0

		main
			margin-bottom 10vh
			flex 1 0

			.section
				margin 1em

			.center
				margin 0 auto

			#content-container
				margin 0 auto
				width 90vw

				@media screen and (min-width 768px)
					width 60vw

				@media screen and (min-width 1024px)
					width 40vw

				.container
					.question, .feedback
						padding 1em
						margin-bottom 1em
						background-color dark-color
						border-radius 10px

						&.answered
							background-color darken(background-color, 10%)

						p
							margin-top 0

						.answered
							color kinda-gray

				#qr
					margin 0 auto
					height 50vh
					border-radius 10px

				h1
					font-size 3em

				form
					label
						width 100%
						display inline-block
						margin .8em 0

						&.inline
							display inline

						&.label-info.required-info
							color healthy-red

						&.required:after
							content "*"
							color healthy-red

					input, textarea
						width 100%
						margin-top .2em
						padding .5em 0
						display block
						box-sizing border-box
						border none
						outline none
						background none
						border-bottom 2px solid kinda-gray
						border-radius 0
						color white
						transition border-bottom-color .2s linear

						&:hover
							border-bottom-color white

						&:focus
							border-bottom-color theme-color

						&[type='radio']
							display inline-block
							width max-content
							margin .5em
							margin-left 0
							cursor: pointer

						&[type='submit'], &[type='button']
							background none
							color white
							border-bottom-color white
							font-weight bold
							margin .5em 0 1em 0
							padding .5em .75em
							cursor pointer
							width max-content

							&:hover:not([disabled])
								background white
								color black

						&[type='file']
							color white
							border-bottom none
							cursor pointer

						&[disabled]
							cursor not-allowed
							color kinda-gray
							border-color kinda-gray

							&:active
								pointer-events none

					#username
						text-align right
						font-size 1em

					textarea
						font-family sans-serif
						resize vertical
						height 10em
						min-height 5em
						max-height 60vh

					i
						display inline-block
						margin .5em 0

				pre
					word-break break-word
					white-space pre-wrap

			.menu
				position fixed
				min-width 120px
				min-height 20px
				border-radius 8px
				overflow hidden

				.menu-element
					cursor pointer
					background lighten(background-color, 10%)
					padding 1em .5em
					font-weight bold

					&:hover
						background lighten(background-color, 5%)

		footer
			display flex
			flex-flow row wrap
			justify-content space-between
			background background-color-dark
			padding .5em 0

			p
				margin .5em 2em
