extends layout


block head
	title Presentation created | Feedbaq


block content
	div#content-container
		h1= 'Presentation "' + name + '" created!'

		div.section
			p.warning.
				Please note!
			p.warning.
				You will not see the presentation link again. Save it if you might
				want to review collected data later.
			p.warning Do not refresh this page, this will duplicate the presentation!

		div.section
			span= 'Your presentation ID is '
			b= id

		div.section
			a(href='/presentations/' + id + '/present/' target='_blank') Open presenter view
			p You now have to share this presentation with your audience.
			p Option 1. Share this link via your messenger or email:
			|  #[a(href= '/p/' + id target='_blank')= host + '/p/' + id]
			p.
				Option 2.
				Open #[a(href= '/presentations/' + id + '/splash/' target='_blank') this page]
				and share your screen
