extends layout


block head
	title Welcome | Feedbaq


block content
	div#content-container
		h1 Welcome to Feedbaq!
		p.
			Feedbaq is a tool which allows you to collect feedback and questions
			from your audience during a presentation. Start a new presentation with
			Feedbaq now! It's free and simple!

		a(href='/presentations/new/') Start a new presentation
