extends layout

block content
	div#content-container
		h2 Welcome to Feedbaq!
		p.
			Feedbaq is an application allowing you to collect feedback and questions
			from your audience during a presentation. Start a new presentation with
			Feedbaq now!

		a(href='/presentations/new/') Start a new presentation
