doctype html

html(lang='en')
	head
		link(rel='stylesheet', href='/style/style.css')
		meta(charset='UTF-8')
		meta(name='description' content='Feedbaq is a tool allowing you to collect' +
		' feedback and questions during your presentations. Feedbaq is free, try it now!')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		block head

	body
		header
			a(href='/') Home
			block header

		main
			if flashes
				div#flash-container
					each flash in flashes
						div(class='flash ' + flash.type)
							b= flash.title
							span.separator
							p= flash.info
			block content

		footer
			p Developed by #[a(href='https://mstefan99.com/') Mikhail Stefantsev]
			block footer

		script(async type='text/javascript' src='/js/main.js')
