extends layout


block head
	title= name + ' - Manage | Feedbaq'


block content
	div#content-container
		h2= 'Your presentation "' + name + '"'

		div.container-horizontal
			div
				h2 Questions
				div.container#question-container

			div
				h2 Feedback
				div.container#feedback-container
