extends layout


block head
	title= name + ' - Manage | Feedbaq'


block content
	div#content-container
		h2= 'Your presentation ' + name

		div#collected-questions
			h2 Questions
			div.container

		div#collected-feedback
			h2 Feedback
			div.container
