extends layout


block head
	title= name + ' - Present | Feedbaq'


block content
	div#content-container
		h1= 'Your presentation "' + name + '"'

		div.container-horizontal
			div
				h2 Questions
				div.container#question-container

			div
				h2 Feedback
				div.container#feedback-container

	script(async type='module' src='/js/present.js')
