extends layout


block head
	title= name + ' | Feedbaq'


block content
	div#content-container
		h1= 'Presentation "' + name + '"'

		div.container-horizontal
			div
				h2 Ask a question
				form(action='/presentations/' + id + '/questions/' method='post')
					label(for='new-question') Your question
					input#new-question(type='text' placeholder='Type your question here'
						autocomplete='off' name='text')
					input(type='submit' value='Submit question')
			div
				h2 Leave feedback
				form(action='/presentations/' + id + '/feedback/' method='post')
					label(for='new-feedback') Your feedback
					input#new-feedback(type='text' placeholder='What do you have to say?'
						autocomplete='off' name='text')
					input(type='submit' value='Submit feedback')
