extends layout


block head
	title= name + ' | Feedbaq'


block content
	div#content-container
		h1= 'Presentation "' + name + '"'

		div.container-horizontal
			div
				h2 Ask a question
				form(action='/presentations/' + id + '/questions/' method='post')
					label(for='new-question') Your question
					input#new-question(type='text' autocomplete='off' name='text'
						placeholder='Have any questions about the presentation?')
					input(type='submit' value='Submit question')
			div
				h2 Leave feedback
				form(action='/presentations/' + id + '/feedback/' method='post')
					label(for='new-feedback') Your feedback
					input#new-feedback(type='text' autocomplete='off' name='text'
						placeholder='Have any comments that do not require an answer?')
					input(type='submit' value='Submit feedback')
