extends layout


block head
	title Join presentation | Feedbaq


block content
	div#content-container
		h1= 'Presentation "' + name + '"'
		h2 Have questions or feedback about the presentation?
		p Join the presentation using the link or QR-code below!

		div.section
			p Open this link: #[a(href='/p/' + id + '/')= host + '/p/' + id + '/']
			p Or scan this QR-code:
			img#qr(src=qrData)
